################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Datagen/v15/Solution.VC.db
*.db
*.opendb
*.db-shm
*.db-wal
*.json
*.sqlite
*.ipch
*.tlog
*.log
*.obj
*.idb
*.pdb
*.exe
*.ilk
*.iobj
*.lib
*.ipdb
*.suo
